
// colors
$primaryColor:red;
$secondaryColor:green;

// bgcolors
$primaryBgColor:orange;
$secondaryBgColor:purple;

// Box
$primaryBoxBgColor:pink;
$secondaryBgColor:blue;

//Fonts
$primaryFonts:'Arial';